.bg-light {
    height : 110px !important;
    background-color: white !important;
}

.logo {
    height : 80px;
}

.btn-outline-success {
    color: #6096BA !important;
    border-color: #6096BA !important;
}

.btn:hover {
    color: white !important;
    background-color: #6096BA !important;
}

.nav-link {
    color: #111111 !important;
    font-family: 'Montserrat', sans-serif !important;
}

.nav-link:hover {
    color: #6096BA !important;
}

.ecart {
    height: 80px;
    width: 100%;
}

.logo_user {
    height: 80px;
    width: auto;
}

.w-100 {
    background-color: #6096BA !important;
}