.intro-article {
    font-size: 22px !important;
}

ul {
    font-family: 'Esteban', serif;
}

ol {
    font-family: 'Esteban', serif;
}

.inner-title {
    font-size: 22px !important;
    margin : 3% 0 !important;
}

.quiz-title {
    color: #111111 !important;
}

.quiz {
    margin: 0 10% 5% 10%;
    font-family: 'Esteban', serif;
}

.p_blue {
    color: #6096BA !important;
}